.title {
    text-align: center;
    color: #19a8e6;
    margin-bottom: 20px;

}

.contacts__text {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #19a8e6;
    margin-bottom: 20px;

}