.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 100px;
    align-items: center;
   
}

.title {
    font-size: 32px;
    margin-bottom: 30px;
}

.contacts__title {
    font-size: 32px;
    margin-bottom: 30px;
}



.contacts__text {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    
}