.contacts__list {
    list-style-type: disc;
    
}

.contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
}

.contacts__text {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    
}

.contacts__delBtn {
    color: black;
    font-size: 14px;
    padding: 14px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: beige;
    cursor: pointer;

    
      &:hover {
        color: #5240ee;
        background-color: aqua;
      }     
}