.contacts__list {
    list-style-type: disc;
}

.contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 30px;
    margin-bottom: 20px; */
    margin: 20px;
}

.contacts__text {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    
}

.contacts__delBtn {
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    margin-left: 15px;
    border: none;
    border-radius: 8px;
    background-color: beige;
    cursor: pointer;

    
      &:hover {
        background-color: orange;
      }     
}