.usermenu__wrap {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  .usermenu__name {
    color: #0caef4;
    font-size: 18px;
    font-weight: 600;
    margin-right: 12px;
  }
  
  .usermenu__btn {
    display: inline-block;
    padding: 10px 8px;
    border: 0;
    border-radius: 8px;
    min-width: 80px;
    font-weight: 600;
  
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
    background-color: beige;
    color: black;
  }
  .usermenu__btn:hover {
    background-color: orange;
    opacity: 1;
  }